html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(243, 240, 240);
  color: rgb(54, 54, 54);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 70px;
  background: rgb(54, 54, 54);
  color: rgb(243, 240, 240);
  text-align: center;
}

header a {
  height: 70px;
  margin-right: 20px;
}

header .page-logo {
  min-width: 77px;
}

header a img {
  width: 77px;
  height: 70px;
}

nav {
  padding: 0;
  margin: 0 auto;
}

nav a {
  color: rgb(243, 240, 240);
  font-size: 28px;
  text-decoration: none;
  margin: 15px;
  text-transform: uppercase;
  font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 900;
  line-height: 40px;
}

main {
  width: 100%;
  flex: 1;
}

.main-content {
  padding: 40px;
  max-width: 860px;
  margin: 0 auto;
}

.post-list .post .post-title {
  color: rgb(54, 54, 54);
}

.post-list .post .post-full-page-link {
  text-decoration: none;
  box-shadow: 4px 4px 16px 0px rgb(134, 138, 138);
  padding: 40px;
  display: block;
  background: white;
}

.post-list .post .post-full-page-link .post-title {
  margin-top: 0;
  font-size: 3rem;
  line-height: 3.5rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header .thumbnail {
  border-radius: 100%;
  display: block;
  min-width: 200px;
  min-height: 200px;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 3px;
  background: rgb(243, 240, 240);
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.2);
}

.post-full-page .post-header {
  background: white;
  justify-content: space-around;
  padding: 60px 120px;
}

.post-full-page .post-header .post-title {
  margin-top: 0;
}

.post-full-page .post-header .thumbnail {
  flex: 1;
  margin-right: 60px;
  margin-bottom: 0;
}
.post-full-page .post-header .rest {
  flex: 6;
}

article .post-content {
  margin-top: 60px;
}

article .post-content pre {
  background: white;
  box-shadow: 4px 4px 16px 0px rgb(134, 138, 138);
}

article .post-content pre code {
  color: #505050
}


.post-footer {
  margin-top: 60px;
}

.posts-container ul {
  list-style: none;
}

footer {
  text-align: center;
  padding: 8px 0;
  width: 100%;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  margin: 8px;
  font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
}

@media screen and (max-width: 900px) {
  .post-full-page .post-header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 680px) {
  .post-header {
    display: block;
  }

  .post-full-page .post-header .thumbnail {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 567px) {
  header {
    min-height: 186px;
  }

  header .page-logo {
    margin-left: 20px;
    margin-right: 0;
    height: 140px;
  }

  header .page-logo img {
    min-height: 140px;
    min-width: 154px;
  }

  nav a {
    display: block;
    height: auto;
  }

  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .post-list {
    padding: 0;
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (max-width: 362px) {
  header .page-logo {
    display: none;
  }
}
