<p>
  My name is Olavi Haapala. I'm a software developer with wide experience with
  different tools and technologies. I'm passionate about open source software
  development, lean service creation, and web performance.
</p>
<img
  class="profile-image"
  src="{{ '/images/olavi_haapala.jpg' | prepend:
site.baseurl }}"
  alt="My profile photo"
/>

<h2>You can find me on:</h2>
<ul>
  <li>
    <a
      href="https://github.com/olpeh/ama"
      target="_blank"
      rel="noopener noreferrer"
    >
      GitHub
    </a>
    <span> - Ask me anything! </span>
  </li>
  <li>
    <a
      href="https://twitter.com/0lpeh"
      target="_blank"
      rel="noopener noreferrer"
    >
      Twitter
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/olavi-haapala-b7b752162"
      target="_blank"
      rel="noopener noreferrer"
    >
      LinkedIn
    </a>
  </li>
  <li>
    <a
      href="mailto:contact@olavihaapala.fi"
      target="_blank"
      rel="noopener noreferrer"
    >
      Email
    </a>
    <span> - contact@olavihaapala.fi </span>
  </li>
</ul>
<h2>You can NOT find me on:</h2>
<ul>
  <li>Facebook</li>
</ul>
