<p>
  My name is Olavi Haapala. I'm a software developer with wide experience with
  different tools and technologies. I'm passionate about open source software
  development, lean service creation, and web performance.
</p>
<img class="profile-image" src="{{ "/images/olavi_haapala.jpg" | prepend:
site.baseurl }}" alt="My profile photo"/>

<h3>You can find me on:</h3>
<ul>
  <li>
    <a href="https://github.com/olpeh/ama" target="_blank" rel="noopener">
      GitHub
    </a>
    <span> - Ask me anything! </span>
  </li>
  <li>
    <a href="https://twitter.com/0lpeh" target="_blank" rel="noopener">
      Twitter
    </a>
  </li>
  <li>
    <a
      href="https://www.linkedin.com/in/olavi-haapala-b7b752162"
      target="_blank"
      rel="noopener"
    >
      LinkedIn
    </a>
  </li>
  <li>
    <a
      href="dat://fritter.hashbase.io/user/dat://fritter-olpe.hashbase.io"
      target="_blank"
      rel="noopener"
    >
      Fritter
    </a>
    <span> - Requires support for dat protocol </span>
  </li>
  <li>
    <a
      href="https://ssbc.github.io/secure-scuttlebutt/"
      target="_blank"
      rel="noopener"
    >
      SSBC
    </a>
    <span> - Secure Scuttlebutt </span>
  </li>
  <li>
    <a href="mailto:contact@olavihaapala.fi" target="_blank" rel="noopener">
      Email
    </a>
    <span> - contact@olavihaapala.fi </span>
  </li>
</ul>
<h3>You can NOT find me on:</h3>
<ul>
  <li>Facebook</li>
</ul>
