<h3>You can find me on:</h3>
<ul>
  <li>
    <a href="https://github.com/olpeh/ama" target="_blank">
      GitHub
    </a>
    <span>
      - Ask me anything!
    </span>
  </li>
  <li>
    <a href="https://twitter.com/0lpeh" target="_blank">
      Twitter
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/olavi-haapala-b7b752162" target="_blank">
      LinkedIn
    </a>
  </li>
  <li>
    <a href="dat://fritter.hashbase.io/user/dat://fritter-olpe.hashbase.io" target="_blank">
      Fritter
    </a>
    <span>
      - Requires support for dat protocol
    </span>
  </li>
  <li>
    <a href="https://ssbc.github.io/secure-scuttlebutt/" target="_blank">
      SSBC
    </a>
    <span>
      - Secure Scuttlebutt
    </span>
  </li>
  <li>
    <a href="mailto:olavi.haapala@futurice.com" target="_blank">
      Email
    </a>
  </li>
</ul>
<h3>You can NOT find me on:</h3>
<ul>
  <li>
    Facebook
  </li>
</ul>