<footer>
  <nav>
    <a href="/feed.xml" rel="noopener noreferrer" target="_blank"> RSS Feed </a>
    <a
      href="https://github.com/olpeh/olpeh.github.io"
      rel="noopener noreferrer"
      target="_blank"
    >
      GitHub
    </a>
    <a
      href="https://twitter.com/0lpeh"
      rel="noopener noreferrer"
      target="_blank"
    >
      Twitter
    </a>
    <a
      href="mailto:contact@olavihaapala.fi"
      rel="noopener noreferrer"
      target="_blank"
    >
      Email
    </a>
    <a
      href="https://www.linkedin.com/in/olavi-haapala-b7b752162"
      rel="noopener noreferrer"
      target="_blank"
    >
      LinkedIn
    </a>
  </nav>
</footer>

<script src="/js/quicklink.js" defer></script>
<script>
  window.addEventListener("load", () => {
    const links = [...document.getElementsByTagName("a")].filter((a) => {
      return (
        a.hostname === window.location.hostname &&
        a.getAttribute("href") !== window.location.pathname
      );
    });
    quicklink({ urls: links });
  });
</script>
