<footer>
  <a
    href="https://github.com/olpeh/olpeh.github.io"
    rel="noopener"
    target="_blank"
  >
    This repository on GitHub
  </a>
</footer>

<script src="/js/quicklink.js" defer></script>
<script>
  window.addEventListener('load', () => {
    const links = [...document.getElementsByTagName('a')].filter((a) => {
      return (
        a.hostname === window.location.hostname &&
        a.getAttribute('href') !== window.location.pathname
      );
    });
    quicklink({ urls: links });
  });
</script>
