<section class="posts-container">
  <div class="blog-posts-title-and-feed">
    <h2 class="">Blog posts</h2>
    <a class="rss-feed" href="/feed.xml" rel="noopener" target="_blank">RSS Feed<span class="rss-feed-icon"></span></a>
  </div>
  <ul class="post-list">
    {% for page in site.posts %}
    <li class="post">
      <a class="post-full-page-link" href="{{ page.url }}">
        {% include post-header.html %}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% include pagination.html %}
</section>
