<div class="post-header">
  <div class="post-header-content">
    {% if page.image %}
    <img
      class="thumbnail"
      width="200"
      height="200"
      alt="{{ page.altText }}"
      src="{{ page.image }}"
    />
    {% endif %}
    <div class="rest">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-meta">
        <p>{{ page.excerpt }}</p>
        <hr />
        <span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
        {% if page.updated %}
        <span class="date"
          >(Updated: {{ page.updated | date: "%b %-d, %Y" }})</span
        >
        {% endif %}
        <span>by {{ page.author }}</span>
        {% if page.credits %}
        <span>– {{ page.credits }}</span>
        {% endif %}
        <ul class="post-tags">
          {% for tag in page.tags %}
          <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
