<hr>
<div class="post-footer">
    <p>
        If you liked this post, you might want to
        <a href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{page.url}}&amp;text={{ page.title }}&amp;url={{site.url}}{{page.url}}&amp;via={{ page.author_twitter }}" rel="noopener" target="_blank">
            Tweet about it</a>.
        Probably your followers are interested in it as well.
        Additionally, if you have comments or questions about the content of this post, we can discuss it on <a href="https://twitter.com/{{ page.author_twitter }}" rel="noopener" target="_blank">Twitter.</a>
    </p>
    <p>
        You might also want to follow
        <a href="https://twitter.com/{{ page.author_twitter }}" rel="noopener" target="_blank">{{ page.author_twitter }}</a>
        on Twitter
    </p>
</div>
