<section class="projects-container">
  <p>
    Most of the projects I work on at my day-to-day job are unfortunately not
    available publicly. However, I like to work on some side projects on my free
    time, and these are available as open source.
  </p>

  <h2>Here are some of my side projects:</h2>
  <ul>
    <li>
      <a href="https://mpc.olpe.fi/" target="_blank" rel="noopener"
        >Meeting Price Calculator</a
      >
      <span> – How expensive are meetings, actually? </span>
    </li>
    <li>
      <a href="https://wht.olpe.fi/" target="_blank" rel="noopener"
        >Working Hours Tracker</a
      >
      <span> – Work time manager for Sailfish OS </span>
    </li>
    <li>
      <a
        href="https://olavihaapala.fi/koodikerho/"
        target="_blank"
        rel="noopener"
        >Koodikerho</a
      >
      <span> – Coding Club, Teaching kids some basic programming skills </span>
    </li>
    <li>
      <a
        href="https://github.com/olpeh/olpeh.github.io"
        target="_blank"
        rel="noopener"
        >olpeh.github.io</a
      >
      <span> – Repository for this page on GitHub </span>
    </li>
    <li>
      <a
        href="https://github.com/olpeh/browserstack-measure-crp"
        target="_blank"
        rel="noopener"
        >browserstack-measure-crp</a
      >
      <span>
        – Use Browserstack Hub for measuring Critical Rendering Path on your
        site using real devices
      </span>
    </li>
    <li>
      <a href="https://onkometrorikki.fi/" target="_blank" rel="noopener"
        >Onko metro rikki?</a
      >
      <span>
        – Check if the metro in Helsinki area is broken at the moment
      </span>
    </li>
    <li>
      <a
        href="https://ken-wheeler-aka.hashbase.io/"
        target="_blank"
        rel="noopener"
        >ken-wheeler-aka</a
      >
      <span> – What are Ken Wheeler's display names on Twitter? </span>
    </li>
    <li>
      <a
        href="https://github.com/olpeh/visual-regression"
        target="_blank"
        rel="noopener"
        >visual-regression</a
      >
      <span>
        – Test websites for visual regressions on different viewport sizes using
        Puppeteer
      </span>
    </li>
    <li>
      <a
        href="https://github.com/olpeh/yleishyodyllinen-bot"
        target="_blank"
        rel="noopener"
        >yleishyodyllinen-bot</a
      >
      <span> – Playing around with Telegram bot API using Telegraf </span>
    </li>
  </ul>
  <h3>Other stuff I'm working on can be found on GitHub</h3>
  <a href="https://github.com/olpeh" target="_blank" rel="noopener"
    >olpeh on GitHub</a
  >
  <h2>Follow me on Twitter</h2>
  <p>I also like to tweet about stuff I discover while developing.</p>
  <a href="https://twitter.com/0lpeh" target="_blank" rel="noopener"
    >0lpeh on Twitter</a
  >
</section>
