<section class='projects-container'>
  <h3>Here are some of my projects:</h3>
  <ul>
    <li>
      <a href="https://mpc.olpe.fi/" target="_blank">Meeting Price Calculator</a>
      <span>
        – How expensive are meetings, actually?
      </span>
    </li>
    <li>
      <a href="https://wht.olpe.fi/" target="_blank">Working Hours Tracker</a>
      <span>
        – Work time manager for Sailfish OS
      </span>
    </li>
    <li>
      <a href="https://olpe.fi/koodikerho/" target="_blank">Koodikerho</a>
      <span>
        – Coding Club, Teaching kids some basic programming skills
      </span>
    </li>
    <li>
      <a href="https://github.com/olpeh/olpeh.github.io" target="_blank">olpeh.github.io</a>
      <span>
        – Repository for this page on GitHub
      </span>
    </li>
    <li>
      <a href="https://github.com/olpeh/puppeteer-visual-diff" target="_blank">puppeteer-visual-diff</a>
      <span>
        – Simple PoC for testing website for visual diff on different viewport sizes using Puppeteer
      </span>
    </li>
    <li>
      <a href="https://github.com/olpeh/browserstack-measure-crp" target="_blank">browserstack-measure-crp</a>
      <span>
        – Use Browserstack Hub for measuring Critical Rendering Path on your site using real devices
      </span>
    </li>
    <li>
      <a href="https://onkometrorikki.now.sh/" target="_blank">Onko metro rikki?</a>
      <span>
        – Check if the metro in Helsinki area is broken at the moment
      </span>
    </li>
    <li>
      <a href="https://ken-wheeler-aka.hashbase.io/" target="_blank">ken-wheeler-aka</a>
      <span>
        – What are Ken Wheeler's display names on Twitter?
      </span>
    </li>
  </ul>
  <h3>Other stuff I'm working on can be found in GitHub</h3>
  <a href="https://github.com/olpeh" target="_blank">olpeh on GitHub</a>
</section>
