<section class="talks-container">
  <p>
    I am one of the organizers of
    <a
      href="https://techweeklies.futurice.com/"
      target="_blank"
      rel="noreferrer noopener"
      >Tech Weeklies</a
    >
    at Futurice, and I am also actively presenting there and in other public
    events about topics related to web development, performance and
    accessibility. Naturally, not all of my talks are published due to
    non-public content.
  </p>
  <img
    class="profile-image"
    src="{{ '/images/olavi-presenting.jpg' | prepend:
  site.baseurl }}"
    alt="Me presenting"
  />

  <h2>Here are links to some of my publicly available talks:</h2>
  <ul>
    <li>
      <a
        href="https://www.youtube.com/watch?v=VHvqnFU8dPA"
        target="_blank"
        rel="noreferrer noopener"
        >Rules of Hooks and how we messed up</a
      >
      <span> – Futurice Tech Weeklies 05.06.2020</span>
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=bNRbSlDtqg8"
        target="_blank"
        rel="noreferrer noopener"
        >Future-proof dependency management in TS projects</a
      >
      <span> – Futurice Tech Weeklies 08.05.2020</span>
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=nwm5vx6FeFA"
        target="_blank"
        rel="noreferrer noopener"
        >Why Server Side Rendering is still relevant</a
      >
      <span> – Futurice Tech Weeklies 20.09.2019</span>
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=9iwePSSmBd8"
        target="_blank"
        rel="noreferrer noopener"
        >First impressions of sizzy.app</a
      >
      <span> – Futurice Tech Weeklies 23.08.2019</span>
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=YkbfDS3kGJk"
        target="_blank"
        rel="noreferrer noopener"
        >Creating a voting advice application AKA "Vaalikone"</a
      >
      <span> – Futurice Tech Weeklies 19.06.2019</span>
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=EitSgL0HY6M"
        target="_blank"
        rel="noreferrer noopener"
        >Using prefetch and preload to speed up your site</a
      >
      <span> – Futurice Tech Weeklies 21.12.2018</span>
    </li>
    <li>
      <a
        href="https://www.youtube.com/watch?v=ubub4zjEzJs"
        target="_blank"
        rel="noreferrer noopener"
        >Lessons from Performance.now() 2018</a
      >
      <span> – Futurice Tech Weeklies 23.11.2018</span>
    </li>
    <li>
      <a
        href="https://youtu.be/jLMtO0WOM00?t=1664"
        target="_blank"
        rel="noreferrer noopener"
        >Building Useless Side Projects</a
      >
      <span> – Futurice Tech Weeklies 12.10.2018</span>
    </li>
  </ul>
  <h3>My Personal YouTube Channel</h3>
  <p>
    You can also check and subscribe to
    <a
      href="https://www.youtube.com/channel/UCVbpqdiiwAxx_7vBI5cruNQ"
      rel="noreferrer noopener"
      target="_blank"
      >my personal YouTube channel</a
    >
    where I post tutorial videos.
  </p>
  <h2>Read more</h2>
  <p>
    Check out the <a href="/projects">projects</a> and
    <a href="/contact">contact</a> pages as well.
  </p>
  <h2>Follow me on Twitter</h2>
  <p>I also like to tweet about stuff I discover while developing.</p>
  <a href="https://twitter.com/0lpeh" target="_blank" rel="noreferrer noopener"
    >0lpeh on Twitter</a
  >
</section>
