html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(54, 54, 54);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

img {
  max-width: 100%;
}

a {
  color: #054d7d;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 70px;
  background: rgb(54, 54, 54);
  color: rgb(243, 240, 240);
  text-align: center;
}

header a {
  height: 70px;
  margin-right: 20px;
}

header .page-logo {
  min-width: 77px;
}

header a img {
  width: 77px;
  height: 70px;
}

nav {
  padding: 0;
  margin: 0 auto;
}

nav a {
  color: rgb(243, 240, 240);
  font-size: 28px;
  text-decoration: none;
  margin: 15px;
  text-transform: uppercase;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 900;
  line-height: 40px;
}

main {
  width: 100%;
  flex: 1;
  background-image: linear-gradient(rgb(243, 240, 240), rgb(233, 230, 230));
}

.main-content {
  padding: 40px;
  padding-bottom: 100px;
  max-width: 860px;
  margin: 0 auto;
}

.post-list .post {
  margin-bottom: 40px;
}

.post-list .post .post-title {
  color: rgb(54, 54, 54);
}

.post-list .post .post-full-page-link {
  text-decoration: none;
  box-shadow: 4px 4px 12px 0px #858888;
  padding: 40px;
  display: block;
  background: white;
}

.post-list .post .post-full-page-link .post-title {
  margin-top: 0;
  font-size: 3rem;
  line-height: 3.5rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header .thumbnail {
  border-radius: 100%;
  display: block;
  min-width: 200px;
  min-height: 200px;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 3px;
  background: rgb(243, 240, 240);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.post-full-page .post-header {
  background: white;
  justify-content: space-around;
  padding: 60px 120px 120px 120px;
  box-shadow: 0px 4px 12px 0 #858888;
}

.post-full-page .post-header .post-title {
  margin-top: 0;
}

.post-full-page .post-header .thumbnail {
  margin-right: 60px;
  margin-bottom: 0;
}
.post-full-page .post-header .rest {
  flex: 6;
}

article .post-content {
  margin-top: 60px;
}

article .post-content img {
  margin: 10px 0;
}

article .post-content img[src$=".jpg"],
article .post-content img[src$=".jpeg"],
article .post-content img[src$=".png"] {
  box-shadow: 4px 4px 12px 0px #858888;
}

article .post-content pre,
article .post-content blockquote {
  background: white;
  box-shadow: 4px 4px 12px 0px #858888;
}

article .post-content code.highlighter-rouge {
  color: #d14;
  padding: 3px 6px 1px 6px;
  background-color: white;
  border-radius: 4px;
  border: solid 1px #cccccc;
}

article .post-content pre code {
  color: #505050;
}

.post-footer {
  background-color: #363636;
  box-shadow: 0 9px 22px 9px #858888;
}

.post-footer .post-footer-content {
  padding: 90px 60px;
  max-width: 860px;
  margin: 0 auto;
}

.post-footer .post-footer-content p {
  color: #f3f0f0;
}

.post-footer .post-footer-content a {
  color: #ffffff;
  font-weight: bold;
}

.posts-container ul {
  list-style: none;
}

.blog-posts-title-and-feed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blog-posts-title-and-feed .rss-feed {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
}

.blog-posts-title-and-feed .rss-feed-icon {
  display: inline-block;
  background: url(images/rss.svg) no-repeat center center;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  margin-bottom: 1px;
  vertical-align: middle;
}

footer {
  background-color: #fafafa;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 180px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  padding: 32px;
  color: #333;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
}

@media screen and (max-width: 900px) {
  .post-full-page .post-header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 680px) {
  .post-header {
    display: block;
  }

  .post-full-page .post-header .thumbnail {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 572px) {
  header {
    min-height: 230px;
  }

  header .page-logo {
    margin-left: 20px;
    margin-right: 0;
    height: 140px;
  }

  header .page-logo img {
    min-height: 140px;
    min-width: 154px;
  }

  nav a {
    display: block;
    height: auto;
  }

  .main-content {
    padding-left: 16px;
    padding-right: 16px;
  }

  .post-list {
    padding: 0;
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media screen and (max-width: 700px) {
  footer {
    flex-direction: column;
    min-height: 60%;
  }
}

@media screen and (max-width: 362px) {
  header .page-logo {
    display: none;
  }
}

.profile-image {
  box-shadow: 2px 6px 30px -4px #858888;
}
